.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  line-height: 1;

}
.storybook-button--primary {
  color: white;
  background-color: #0E172E;
}
.storybook-button--secondary {
  color: #0E172E;
  background-color: transparent;
  border: 2px solid #0E172E;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
  margin-right: 35px;
  width: 116px;
height: 42px;
border-radius: 10px;
}
.storybook-button--medium {
  font-size: 16px;
  padding: 11px 20px;
  width: 200px;
height: 61px;
border-radius: 14px;
margin-right: 15px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 29px 50px 30px;
  width: 295px;
height: 80px;
  border-radius: 14px;
  margin-right: 15px;
}
